html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(239,59,185,1) 32%,rgba(64,87,173,1) 92%,rgba(64,87,173,1) 92%);
    }

div.container {
    position: fixed;
    width: 250px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -180px;
    background: white;
    }

input[type=text],
input[type=password] {
    background: rgb(232,232,232);
    color: black;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 200px;
    height: 35px;
    }

input[type=submit] { /*login*/
    width: 210px;
    height: 35px;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: -webkit-linear-gradient(45deg, rgba(187,72,191,1) 0%,rgba(237,56,183,1) 100%);
}

.remember {
    font-size: 14px;
    color: rgb(169,169,169);
    margin-left: 18px;
}

.forgotPass {
    font-size: 14px;
    color: rgb(169,169,169);
    margin-left: 18px;
}

.signUp {
    font-size: 14px;
    color: rgb(169,169,169);

}


div.member {
    color: black;
    width: 250px;
    height: 40px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

div.orLogin {
    color: rgb(169,169,169);
    width: 250px;
    height: 80px;
    text-align: center;
    font-size: 14px;
    margin-top: +10px;
}

div.box {
    text-align:center;
}

a {
    font-size: 14px;
    color: rgb(169,169,169);
}

p {
    font-size: 14px;
    color: rgb(169,169,169);
    margin-left: 40px;
}

