        .weather {
            border: 1px solid black;
            margin-top: 1rem;
            background-color: rgba(0, 0, 0, 0,5);
            color: gray;
            border-radius: 5px;
        }